{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container p-5">
  <h2 class="text-center mb-5">Fill some info so that can suggest you best option.</h2>
  <form
    action="{% url 'output' %}"
    method="POST"
    onsubmit="return validateForm()"
  >
    {% csrf_token %}

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">Gender</label>
        <select name="Gender" id="Gender" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Male</option>
          <option value="1">Female</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputCity">Age</label>
        <input
          name="Age"
          type="number"
          placeholder="18 to 65 only"
          class="form-control"
          id="Age"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Do you invest in Investment Avenues?</label>
        <select name="Avenues" id="Avenues" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Yes</option>
          <option value="1">No</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="inputZip"
          >What are the factors considered by you while investing in any
          instrument?</label
        >
        <select name="Factors" id="Factors" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Returns</option>
          <option value="1">Locking Period</option>
          <option value="2">Risk</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">What are your investment objectives?</label>
        <select name="InObjectives" id="InObjectives" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Capital Appreciation</option>
          <option value="1">Income</option>
          <option value="2">Growth</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">Do you invest in Stock Market?</label>
        <select name="StockMarket" id="StockMarket" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Yes</option>
          <option value="1">No</option>
        </select>
      </div>
      <div class="form-group col-md-8">
        <label for="inputState">What is your purpose behind investment?</label>
        <select name="Purpose" id="Purpose" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Wealth Creation</option>
          <option value="1">Savings for Future</option>
          <option value="2">Returns</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="inputZip"
          >How long do you prefer to keep your money in any investment
          instrument?</label
        >
        <select name="Instrument" id="Instrument" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Less than 1 year</option>
          <option value="1">1-3 years</option>
          <option value="2">3-5 years</option>
          <option value="3">More than 5 years</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState"
          >How frequent you monitor your investments?</label
        >
        <select name="Monitor" id="Monitor" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Daily</option>
          <option value="1">Weekly</option>
          <option value="2">Monthly</option>
          <option value="3">Quarterly</option>
          <option value="4">Yearly</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputZip"
          >How much return do you expect from any investment instrument?</label
        >
        <select name="Return" id="Return" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">10%-20%</option>
          <option value="1">20%-30%</option>
          <option value="2">30%-40%</option>
        </select>
      </div>
      {% comment %} <div class="form-group col-md-6">
        <label for="inputState"
          >Which investment avenue do you mostly invest in?</label
        >
        <select name="Mostly" id="Mostly" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Mutual Funds</option>
          <option value="1">Equity Market</option>
          <option value="2">Debentures</option>
          <option value="3">Government Bonds</option>
          <option value="4">Fixed Deposits</option>
          <option value="5">Public Provident Fund</option>
          <option value="6">Gold</option>
          <option value="7">Real Estate</option>
          <option value="8">Cryptocurrency</option>
        </select>
      </div> {% endcomment %}
      <div class="form-group col-md-6">
        <label for="inputZip">What are your savings objectives?</label>
        <select name="Objectives" id="Objectives" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Retirement Plan</option>
          <option value="1">Health Care</option>
          <option value="2">Education</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">Reasons for investing in Equity Market</label>
        <select name="Equity" id="Equity" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Capital Appreciation</option>
          <option value="1">Dividend</option>
          <option value="2">Liquidity</option>
        </select>
      </div>
      <div class="form-group col-md-8">
        <label for="inputState">Reasons for investing in Mutual Funds</label>
        <select name="Mutual" id="Mutual" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Better Returns</option>
          <option value="1">Tax Benefits</option>
          <option value="2">Fund Diversification</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputZip">Reasons for investing in Government Bonds</label>
        <select name="Government" id="Government" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Safe Investment</option>
          <option value="1">Tax Incentives</option>
          <option value="2">Assured Returns</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Reasons for investing in Fixed Deposits</label>
        <select name="Fixed" id="Fixed" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Risk Free</option>
          <option value="1">High Interest Rates</option>
          <option value="2">Fixed Returns</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState"
          >Your sources of information for investments is</label
        >
        <select name="Information" id="Information" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">Newspapers and Magazines</option>
          <option value="1">Internet</option>
          <option value="2">Financial Consultants</option>
          <option value="3">Television</option>
          <option value="4">Friends and Family</option>
        </select>
      </div>
    </div>
    <h4 class="text-center">Rank your Investment Option</h4>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputZip">Mutual Funds</label>
        <select name="mfr" id="mfr" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
          <option value="4">5</option>
          <option value="5">6</option>
          <option value="6">7</option>
          <option value="7">8</option>
          <option value="8">9</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Equity Market</label>
        <select name="emr" id="emr" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
          <option value="4">5</option>
          <option value="5">6</option>
          <option value="6">7</option>
          <option value="7">8</option>
          <option value="8">9</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Debentures</label>
        <select name="dr" id="dr" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
          <option value="4">5</option>
          <option value="5">6</option>
          <option value="6">7</option>
          <option value="7">8</option>
          <option value="8">9</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputZip">Government Bonds</label>
        <select name="gbr" id="gbr" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
          <option value="4">5</option>
          <option value="5">6</option>
          <option value="6">7</option>
          <option value="7">8</option>
          <option value="8">9</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Fixed Deposits</label>
        <select name="fdr" id="fdr" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
          <option value="4">5</option>
          <option value="5">6</option>
          <option value="6">7</option>
          <option value="7">8</option>
          <option value="8">9</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Public Provident Fund</label>
        <select name="pfr" id="pfr" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
          <option value="4">5</option>
          <option value="5">6</option>
          <option value="6">7</option>
          <option value="7">8</option>
          <option value="8">9</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputZip">Gold</label>
        <select name="goldr" id="goldr" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
          <option value="4">5</option>
          <option value="5">6</option>
          <option value="6">7</option>
          <option value="7">8</option>
          <option value="8">9</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Real Estate</label>
        <select name="rer" id="rer" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
          <option value="4">5</option>
          <option value="5">6</option>
          <option value="6">7</option>
          <option value="7">8</option>
          <option value="8">9</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Cryptocurrency</label>
        <select name="cr" id="cr" class="form-control">
          <option disabled value="" selected>Choose...</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
          <option value="4">5</option>
          <option value="5">6</option>
          <option value="6">7</option>
          <option value="7">8</option>
          <option value="8">9</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script>
  function validateForm() {
    let Age = document.getElementById("Age").value;
    let Gender = document.getElementById("Gender").value;
    let Avenues = document.getElementById("Avenues").value;
    let Factors = document.getElementById("Factors").value;
    let Objectives = document.getElementById("Objectives").value;
    let InObjectives = document.getElementById("InObjectives").value;
    let StockMarket = document.getElementById("StockMarket").value;
    let Purpose = document.getElementById("Purpose").value;
    let Instrument = document.getElementById("Instrument").value;
    let Monitor = document.getElementById("Monitor").value;
    let Ret = document.getElementById("Return").value;
    let Equity = document.getElementById("Equity").value;
    let Mutual = document.getElementById("Mutual").value;
    let Government = document.getElementById("Government").value;
    let Fixed = document.getElementById("Fixed").value;
    let Information = document.getElementById("Information").value;
    if (Age === "" || Age < 18) {
      alert("Age must be 18 to 65!");
      return false; // Prevents the form from being submitted
    }
    if (
      Gender === "" ||
      Avenues === "" ||
      Factors === "" ||
      Objectives === "" ||
      InObjectives === "" ||
      StockMarket === "" ||
      Purpose === "" ||
      Instrument === "" ||
      Monitor === "" ||
      Ret === "" ||
      Equity === "" ||
      Mutual === "" ||
      Government === "" ||
      Fixed === "" ||
      Information === ""
    ) {
      alert("Fill all input fields");
      return false;
    }

    let mfr = document.getElementById("mfr").value;
    let emr = document.getElementById("emr").value;
    let dr = document.getElementById("dr").value;
    let gbr = document.getElementById("gbr").value;
    let fdr = document.getElementById("fdr").value;
    let pfr = document.getElementById("pfr").value;
    let goldr = document.getElementById("goldr").value;
    let rer = document.getElementById("rer").value;
    let cr = document.getElementById("cr").value;

    // Create an array to store the selected values
    let selectedValues = [mfr, emr, dr, gbr, fdr, pfr, goldr, rer, cr];

    function isEmpty(value) {
      return value === '';
    }
    
    // Loop through the fields and check for empty values
    let emptyFields = selectedValues.filter(isEmpty);
    
    // Check if there are any empty fields
    if (emptyFields.length > 0) {
      alert("There are empty fields.");
      return false;
    }
    // check if all selected values are unique
    let uniqueValues = new Set(selectedValues);
    if (uniqueValues.size !== selectedValues.length) {
      alert("Please select unique values in all fields.");
      return false;
    }

    return true; // Allows the form to be submitted
  }
</script>
{% endblock content %}
